.wrapper {
    position: relative;
    input {
        background: none;
        border-bottom: 2px solid black;
        padding-bottom: 3px;
        padding-right: 35px;
        font-size: 22px;
    }
    span {
        position: absolute;
        right: 5px;
        top: 2px;
        svg {
            &:hover {
                fill: rgb(109, 101, 101);
                cursor: pointer;
            }
        }
    }
}
