.userWrapper {
    padding: 15px;
    background: rgba(238, 255, 243, 0.146);
    border-radius: 10px;
    margin: 15px;
    max-width: 300px;
    width: 100%;
    display: flex;
    transition-duration: 0.5s;
    animation-duration: 0.5s;
    &:hover {
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.266);
    }
    flex-direction: column;
    div {
        font-size: 22;
        font-weight: 900;
        span {
            font-weight: 600;
            font-size: 20;
        }
    }

    button {
        background: linear-gradient(0deg, rgba(34, 193, 195, 0.4416141457) 0%, rgba(45, 253, 67, 0.3547794118) 100%);
        font-size: 15px;
        font-weight: 600;
        padding: 10px;
        margin-top: auto;
        margin-left: auto;
        border-radius: 10px;
        color: var(--main-color);
        box-shadow: inset 2px 5px 5px black;
        transition: 0.5s;
        &:hover {
            background: linear-gradient(0deg, rgba(15, 183, 189, 0.631) 0%, rgba(45, 253, 66, 0.363) 100%);
            box-shadow: inset 0px 0px 0px black;
        }
    }
}
